doctype 5
html
  head
    title
      | DNS Management
      if title
        |  - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      div Logged in as "#{user}"
    h1
      | DNS Management
      if title
        |  - #{title}
    div.content!= body
